# Copyright (c) 2017-2018, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on init
    mkdir /config
    mount configfs none /config
    mkdir /config/usb_gadget/g1 0770 shell shell
    write /config/usb_gadget/g1/bcdUSB 0x0200
    write /config/usb_gadget/g1/idVendor 0x22b8
    write /config/usb_gadget/g1/idProduct 0x2e81
    mkdir /config/usb_gadget/g1/strings/0x409 0770 shell shell
    write /config/usb_gadget/g1/strings/0x409/serialnumber ${ro.serialno}
    write /config/usb_gadget/g1/strings/0x409/manufacturer ${ro.product.manufacturer}
    write /config/usb_gadget/g1/strings/0x409/product ${ro.product.model}
    mkdir /config/usb_gadget/g1/functions/ffs.adb
    mkdir /config/usb_gadget/g1/functions/ffs.fastboot
    write /config/usb_gadget/g1/os_desc/use 1
    write /config/usb_gadget/g1/os_desc/b_vendor_code 0x1
    write /config/usb_gadget/g1/os_desc/qw_sign "MSFT100"
    mkdir /config/usb_gadget/g1/configs/b.1 0777 shell shell
    symlink /config/usb_gadget/g1/configs/b.1 /config/usb_gadget/g1/os_desc/b.1
    mkdir /config/usb_gadget/g1/configs/b.1/strings/0x409 0770 shell shell
    setprop sys.usb.configfs 1

on property:ro.boot.usbcontroller=*
    setprop sys.usb.controller ${ro.boot.usbcontroller}
    wait /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode peripheral
    wait /sys/class/udc/${ro.boot.usbcontroller} 1

on property:sys.usb.config=adb && property:sys.usb.ffs.ready=1 && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/UDC "none"
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "Motorola Recovery ADB"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    write /config/usb_gadget/g1/idVendor 0x22b8
    write /config/usb_gadget/g1/idProduct 0x2e81
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f1
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=fastboot && property:sys.usb.ffs.ready=1 && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/UDC "none"
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "Motorola Recovery Fastboot"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    write /config/usb_gadget/g1/idVendor 0x22b8
    write /config/usb_gadget/g1/idProduct 0x2e80
    symlink /config/usb_gadget/g1/functions/ffs.fastboot /config/usb_gadget/g1/configs/b.1/f1
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    
    # LOAD MODULES (Exactly from your G85 Stock Firmware)
    insmod /vendor/lib/modules/sched-walt.ko
    insmod /vendor/lib/modules/qcom_ipc_logging.ko
    insmod /vendor/lib/modules/qcom-mpm.ko
    insmod /vendor/lib/modules/irq-qcom-mpm.ko
    insmod /vendor/lib/modules/msm_show_resume_irq.ko
    insmod /vendor/lib/modules/phy-qcom-ufs.ko
    insmod /vendor/lib/modules/phy-qcom-ufs-qrbtc-sdm845.ko
    insmod /vendor/lib/modules/phy-qcom-ufs-qmp-v4-blair.ko
    insmod /vendor/lib/modules/phy-qcom-ufs-qmp-v3.ko
    insmod /vendor/lib/modules/pinctrl-msm.ko
    insmod /vendor/lib/modules/pinctrl-blair.ko
    insmod /vendor/lib/modules/pinctrl-holi.ko
    insmod /vendor/lib/modules/pinctrl-spmi-gpio.ko
    insmod /vendor/lib/modules/pinctrl-spmi-mpp.ko
    insmod /vendor/lib/modules/clk-qcom.ko
    insmod /vendor/lib/modules/clk-dummy.ko
    insmod /vendor/lib/modules/gdsc-regulator.ko
    insmod /vendor/lib/modules/clk-smd-rpm.ko
    insmod /vendor/lib/modules/dispcc-blair.ko
    insmod /vendor/lib/modules/dispcc-holi.ko
    insmod /vendor/lib/modules/gcc-blair.ko
    insmod /vendor/lib/modules/gcc-holi.ko
    insmod /vendor/lib/modules/clk-spmi-pmic-div.ko
    insmod /vendor/lib/modules/cmd-db.ko
    insmod /vendor/lib/modules/qcom_rpmh.ko
    insmod /vendor/lib/modules/smem.ko
    insmod /vendor/lib/modules/smp2p.ko
    insmod /vendor/lib/modules/smp2p_sleepstate.ko
    insmod /vendor/lib/modules/glink_probe.ko
    insmod /vendor/lib/modules/mem_buf.ko
    insmod /vendor/lib/modules/mem_buf_dev.ko
    insmod /vendor/lib/modules/secure_buffer.ko
    insmod /vendor/lib/modules/socinfo.ko
    insmod /vendor/lib/modules/dcc_v2.ko
    insmod /vendor/lib/modules/qcom_wdt_core.ko
    insmod /vendor/lib/modules/qcom_soc_wdt.ko
    insmod /vendor/lib/modules/memory_dump_v2.ko
    insmod /vendor/lib/modules/rpmhpd.ko
    insmod /vendor/lib/modules/qcom_cpu_vendor_hooks.ko
    insmod /vendor/lib/modules/crypto-qti.ko
    insmod /vendor/lib/modules/hwkm_v1.ko
    insmod /vendor/lib/modules/gic_intr_routing.ko
    insmod /vendor/lib/modules/minidump.ko
    insmod /vendor/lib/modules/qcom-pmu-lib.ko
    insmod /vendor/lib/modules/qcom-dcvs.ko
    insmod /vendor/lib/modules/debug_symbol.ko
    insmod /vendor/lib/modules/qti-fixed-regulator.ko
    insmod /vendor/lib/modules/proxy-consumer.ko
    insmod /vendor/lib/modules/rpm-smd-regulator.ko
    insmod /vendor/lib/modules/debug-regulator.ko
    insmod /vendor/lib/modules/arm_smmu.ko
    insmod /vendor/lib/modules/msm_dma_iommu_mapping.ko
    insmod /vendor/lib/modules/qcom_iommu_util.ko
    insmod /vendor/lib/modules/iommu-logger.ko
    insmod /vendor/lib/modules/qcom-i2c-pmic.ko
    insmod /vendor/lib/modules/qcom-spmi-pmic.ko
    insmod /vendor/lib/modules/qcom_dma_heaps.ko
    insmod /vendor/lib/modules/spmi-pmic-arb.ko
    insmod /vendor/lib/modules/qpnp-power-on.ko
    insmod /vendor/lib/modules/msm-poweroff.ko
    insmod /vendor/lib/modules/qcom-dload-mode.ko
    insmod /vendor/lib/modules/qcom-reboot-reason.ko
    insmod /vendor/lib/modules/qcom-cpufreq-hw.ko
    insmod /vendor/lib/modules/sdhci-msm-scaling.ko
    insmod /vendor/lib/modules/sdhci-msm.ko
    insmod /vendor/lib/modules/cqhci.ko
    insmod /vendor/lib/modules/ufs_qcom.ko
    insmod /vendor/lib/modules/ufshcd-crypto-qti.ko
    insmod /vendor/lib/modules/qcom-scm.ko
    insmod /vendor/lib/modules/qcom-ipcc.ko
    insmod /vendor/lib/modules/msm_qmp.ko
    insmod /vendor/lib/modules/qcom_hwspinlock.ko
    insmod /vendor/lib/modules/rproc_qcom_common.ko
    insmod /vendor/lib/modules/qcom_glink.ko
    insmod /vendor/lib/modules/qcom_glink_rpm.ko
    insmod /vendor/lib/modules/qcom_glink_smem.ko
    insmod /vendor/lib/modules/qcom_glink_spss.ko
    insmod /vendor/lib/modules/glink_pkt.ko
    insmod /vendor/lib/modules/rpm-smd.ko
    insmod /vendor/lib/modules/qcom_llcc_pmu.ko
    insmod /vendor/lib/modules/nvmem_qfprom.ko
    insmod /vendor/lib/modules/nvmem_qcom-spmi-sdam.ko
    insmod /vendor/lib/modules/icc-rpm.ko
    insmod /vendor/lib/modules/qnoc-blair.ko
    insmod /vendor/lib/modules/qnoc-holi.ko
    insmod /vendor/lib/modules/qnoc-qos-rpm.ko
    insmod /vendor/lib/modules/icc-debug.ko
    insmod /vendor/lib/modules/slimbus.ko
    insmod /vendor/lib/modules/qrtr.ko
    insmod /vendor/lib/modules/qrtr-smd.ko
    insmod /vendor/lib/modules/msm_sysstats.ko
    insmod /vendor/lib/modules/phy-qcom-ufs-qmp-v4.ko
    insmod /vendor/lib/modules/pwm-qti-lpg.ko
    insmod /vendor/lib/modules/clk-rpmh.ko
    insmod /vendor/lib/modules/debugcc-blair.ko
    insmod /vendor/lib/modules/debugcc-holi.ko
    insmod /vendor/lib/modules/gpucc-blair.ko
    insmod /vendor/lib/modules/gpucc-holi.ko
    insmod /vendor/lib/modules/bam_dma.ko
    insmod /vendor/lib/modules/msm_gpi.ko
    insmod /vendor/lib/modules/mdt_loader.ko
    insmod /vendor/lib/modules/pdr_interface.ko
    insmod /vendor/lib/modules/qmi_helpers.ko
    insmod /vendor/lib/modules/heap_mem_ext_v01.ko
    insmod /vendor/lib/modules/msm_memshare.ko
    insmod /vendor/lib/modules/smsm.ko
    insmod /vendor/lib/modules/mem-hooks.ko
    insmod /vendor/lib/modules/qcom_stats.ko
    insmod /vendor/lib/modules/rpm_master_stat.ko
    insmod /vendor/lib/modules/eud.ko
    insmod /vendor/lib/modules/boot_stats.ko
    insmod /vendor/lib/modules/rq_stats.ko
    insmod /vendor/lib/modules/core_hang_detect.ko
    insmod /vendor/lib/modules/qcom_va_minidump.ko
    insmod /vendor/lib/modules/qcom_logbuf_vendor_hooks.ko
    insmod /vendor/lib/modules/qcom_logbuf_boot_log.ko
    insmod /vendor/lib/modules/hung_task_enh.ko
    insmod /vendor/lib/modules/sps_drv.ko
    insmod /vendor/lib/modules/qcom_ramdump.ko
    insmod /vendor/lib/modules/memlat.ko
    insmod /vendor/lib/modules/bwmon.ko
    insmod /vendor/lib/modules/msm_performance.ko
    insmod /vendor/lib/modules/cdsprm.ko
    insmod /vendor/lib/modules/fsa4480-i2c.ko
    insmod /vendor/lib/modules/panel_event_notifier.ko
    insmod /vendor/lib/modules/qfprom-sys.ko
    insmod /vendor/lib/modules/qcom_pm8008-regulator.ko
    insmod /vendor/lib/modules/qpnp-lcdb-regulator.ko
    insmod /vendor/lib/modules/qpnp-amoled-regulator.ko
    insmod /vendor/lib/modules/refgen.ko
    insmod /vendor/lib/modules/stub-regulator.ko
    insmod /vendor/lib/modules/msm_geni_serial.ko
    insmod /vendor/lib/modules/rdbg.ko
    insmod /vendor/lib/modules/qcom_iommu_debug.ko
    insmod /vendor/lib/modules/sg.ko
    insmod /vendor/lib/modules/spidev.ko
    insmod /vendor/lib/modules/spi-msm-geni.ko
    insmod /vendor/lib/modules/spmi-pmic-arb-debug.ko
    insmod /vendor/lib/modules/msm_sharedmem.ko
    insmod /vendor/lib/modules/phy-generic.ko
    insmod /vendor/lib/modules/phy-qcom-emu.ko
    insmod /vendor/lib/modules/phy-msm-ssusb-qmp.ko
    insmod /vendor/lib/modules/phy-msm-snps-hs.ko
    insmod /vendor/lib/modules/phy-msm-qusb-v2.ko
    insmod /vendor/lib/modules/phy-msm-qusb.ko
    insmod /vendor/lib/modules/usbpd.ko
    insmod /vendor/lib/modules/qpnp-pdphy.ko
    insmod /vendor/lib/modules/dwc3-msm.ko
    insmod /vendor/lib/modules/ehset.ko
    insmod /vendor/lib/modules/f_fs_ipc_log.ko
    insmod /vendor/lib/modules/usb_f_cdev.ko
    insmod /vendor/lib/modules/usb_f_ccid.ko
    insmod /vendor/lib/modules/usb_f_qdss.ko
    insmod /vendor/lib/modules/usb_f_gsi.ko
    insmod /vendor/lib/modules/usbtouchscreen.ko
    insmod /vendor/lib/modules/pm8941-pwrkey.ko
    insmod /vendor/lib/modules/rtc-pm8xxx.ko
    insmod /vendor/lib/modules/i2c-msm-geni.ko
    insmod /vendor/lib/modules/i3c-master-msm-geni.ko
    insmod /vendor/lib/modules/qcom-pon.ko
    insmod /vendor/lib/modules/reboot-mode.ko
    insmod /vendor/lib/modules/qpnp-smb5-main.ko
    insmod /vendor/lib/modules/qcom-qpnp-qg.ko
    insmod /vendor/lib/modules/qcom-smb1398-charger.ko
    insmod /vendor/lib/modules/qcom-smb1355-charger.ko
    insmod /vendor/lib/modules/qcom-spmi-adc-tm5.ko
    insmod /vendor/lib/modules/qcom-spmi-temp-alarm.ko
    insmod /vendor/lib/modules/thermal_pause.ko
    insmod /vendor/lib/modules/bcl_pmic5.ko
    insmod /vendor/lib/modules/bcl_soc.ko
    insmod /vendor/lib/modules/qti_qmi_cdev.ko
    insmod /vendor/lib/modules/qti_cpufreq_cdev.ko
    insmod /vendor/lib/modules/qti_devfreq_cdev.ko
    insmod /vendor/lib/modules/cpu_hotplug.ko
    insmod /vendor/lib/modules/msm-tsens-driver.ko
    insmod /vendor/lib/modules/cx_ipeak_cdev.ko
    insmod /vendor/lib/modules/rpm_smd_cooling_device.ko
    insmod /vendor/lib/modules/regulator_cdev.ko
    insmod /vendor/lib/modules/qti_qmi_sensor.ko
    insmod /vendor/lib/modules/devfreq_vdd_cdev.ko
    insmod /vendor/lib/modules/kryo_arm64_edac.ko
    insmod /vendor/lib/modules/qcom-cpufreq-hw-debug.ko
    insmod /vendor/lib/modules/qcom_lpm.ko
    insmod /vendor/lib/modules/leds-aw2016.ko
    insmod /vendor/lib/modules/leds-qti-tri-led.ko
    insmod /vendor/lib/modules/leds-qpnp-flash-v2.ko
    insmod /vendor/lib/modules/leds-qpnp-vibrator-ldo.ko
    insmod /vendor/lib/modules/qcom_pil_info.ko
    insmod /vendor/lib/modules/qcom_q6v5.ko
    insmod /vendor/lib/modules/qcom_q6v5_pas.ko
    insmod /vendor/lib/modules/qcom_sysmon.ko
    insmod /vendor/lib/modules/qcom-spmi-adc5.ko
    insmod /vendor/lib/modules/qcom-vadc-common.ko
    insmod /vendor/lib/modules/icc-test.ko
    insmod /vendor/lib/modules/slim-qcom-ngd-ctrl.ko
    insmod /vendor/lib/modules/coresight.ko
    insmod /vendor/lib/modules/coresight-tmc.ko
    insmod /vendor/lib/modules/coresight-funnel.ko
    insmod /vendor/lib/modules/coresight-replicator.ko
    insmod /vendor/lib/modules/coresight-stm.ko
    insmod /vendor/lib/modules/coresight-cti.ko
    insmod /vendor/lib/modules/coresight-dummy.ko
    insmod /vendor/lib/modules/coresight-remote-etm.ko
    insmod /vendor/lib/modules/coresight-tmc-sec.ko
    insmod /vendor/lib/modules/coresight-tgu.ko
    insmod /vendor/lib/modules/coresight-hwevent.ko
    insmod /vendor/lib/modules/coresight-tpda.ko
    insmod /vendor/lib/modules/coresight-tpdm.ko
    insmod /vendor/lib/modules/coresight-csr.ko
    insmod /vendor/lib/modules/stm_core.ko
    insmod /vendor/lib/modules/stm_p_ost.ko
    insmod /vendor/lib/modules/stm_console.ko
    insmod /vendor/lib/modules/stm_heartbeat.ko
    insmod /vendor/lib/modules/stm_ftrace.ko
    insmod /vendor/lib/modules/snd-usb-audio-qmi.ko
    insmod /vendor/lib/modules/smcinvoke_dlkm.ko
    insmod /vendor/lib/modules/msm_drm.ko
    insmod /vendor/lib/modules/msm-mmrm.ko
    insmod /vendor/lib/modules/smcinvoke_dlkm.ko
    insmod /vendor/lib/modules/qseecom_dlkm.ko